<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Address</h3>
                <address>
                    <strong>Fitness center</strong><br /><br />
                    <p>Nørgaardsvej 30</p>
                    <p>+45 36 15 47 48</p>
                </address>
            </div>
            <div class="col-md-4">
                <h3>Open hours</h3>
                <p><strong>Monday</strong><span class="pull-right">10.00 - 23.00</span></p>
                <p><strong>Tuesday</strong><span class="pull-right">10.00 - 23.00</span></p>
                <p><strong>Wendsday</strong><span class="pull-right">10.00 - 23.00</span></p>
                <p><strong>Thursday</strong><span class="pull-right">10.00 - 23.00</span></p>
                <p><strong>Friday</strong><span class="pull-right">10.00 - 23.00</span></p>
                <p><strong>Saterday</strong><span class="pull-right">10.00 - 23.00</span></p>
                <p><strong>Sunday</strong><span class="pull-right">10.00 - 23.00</span></p>
            </div>
            <div class="col-md-4">
                <h3>Facebook</h3>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcopenhagenbusinessacademy%2F%3Ffref%3Dts&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" 
                        width="340" height="130" style="border:none;overflow:hidden" 
                        scrolling="no" frameborder="0" allowTransparency="true">
                </iframe>
            </div>
        </div>
    </div>
</footer>
